/.buildpath
/.project
/.settings/
/Cite/
/ConfirmEdit/
/Gadgets/
/ImageMap/
/InputBox/
/Interwiki/
/LocalisationUpdate/
/Nuke/
/ParserFunctions/
/PdfHandler/
/Poem/
/README
/Renameuser/
/SpamBlacklist/
/SyntaxHighlight_GeSHi/
/TitleBlacklist/
/Vector/
/WikiEditor/
**/*.*~
