/.settings/
/.buildpath
/.project
/.gitignore

/chick/
/Chick.php
/cologneblue/
/CologneBlue.php
/common/
/modern/
/Modern.php
/monobook/
/MonoBook.php
/myskin/
/MySkin.php
/nostalgia/
/Nostalgia.php
/simple/
/Simple.php
/standard/
/Standard.php
/vector/
/Vector.php
